:root{
    --coty: #F5DF4D; /*Pantone Color of the Year */
}

/* Fonts s*/
@font-face{
    font-family: "stdfont-regular";
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face{
    font-family: "stdfont-bold";
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}
.fontregular{
    font-family: "stdfont-regular" !important;
}
.fontbold{
    font-family: "stdfont-bold" !important;
}
/* Fonts e*/
/* Regular css s */
body{
    background-color: white;
    font-family: "stdfont-regular" !important;
}
h1{
    font-family: "stdfont-bold" !important;
}
.colored{
    text-decoration: none !important;
    color: black;
    background-color: var(--coty);
    white-space: pre;
}
a.colored:hover{
    color: black;
    background-color: #f5df4d94;  /*Change according to P-COTY: opacity~60*/
}
li.homemenu:hover{
    background-color: lightgray;
    transition: background-color 0.25s;
}
.active{
    background-color: lightgray;
}
/* Regular css e */


/* Selection Color s */
::-moz-selection { /* Code for Firefox */
    color: black;
    background: var(--coty);
}
::selection {
    color: black;
    background: var(--coty);
}
/* Selection Color e */

/* Fade CSS s*/

* {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Fade CSS e */