<!DOCTYPE html>
<html>
    <head>
        <title>Template · Simple</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/globalstyle.css"> <!--Glocal Style -->
        <script src="../js/jquery-3.5.1.js"></script> <!-- JQuery -->
        <link rel="stylesheet" href="../globalresources/lightbox2/dist/css/lightbox.css"> <!-- Lightbox CSS -->
        <link rel="stylesheet" href="../globalresources/pure/build/pure-min.css"> <!-- Pure -->
        <script src="../globalresources/lightbox2/dist/js/lightbox.js"></script> <!-- Lightbox Js -->
    </head>
    <body>
        <div class="pure-g">
            <div class="pure-u-1-3"><p>Thirds</p></div>
            <div class="pure-u-1-3"><p>Thirds</p></div>
            <div class="pure-u-1-3"><p>Thirds</p></div>
        </div>
    </body>
</html>